html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	text-align: left;
	background-image: url('img/concrete_seamless.png');
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content1 {
	padding-bottom: 160px;
	width: auto;
	height: 250px;
	margin-right: 75px;
	margin-left: 75px;
}

#content2 {
	padding-bottom: 160px;
	width: auto;
	height: 500px;
	margin-right: 75px;
	margin-left: 75px;
}

#footer1 {
	width: 100%;
	height: 160px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 16px;
	padding: 25px;
	text-align: center;
	border-top: 7px solid white;
}

#footer2 {
	width: 100%;
	height: 160px;
	position: relative;
	bottom: 0;
	left: 0;
	top: 575px;
	font-size: 16px;
	padding: 25px;
	text-align: center;
	border-top: 7px solid white;
}

#logo img {
	width: 500px;
	height: auto;
}

#menu {
	margin: 0;
	text-align: center;
	height: 120px;
	background-color: white;
}

#menu li {
	font-family: 'Special Elite', cursive;
	font-size: 28px;
	display: inline;
	letter-spacing: 3px;
	word-spacing: 10px;
	position: relative;
	right: 100px;
}

#Menu ul {
	vertical-align: middle;
	width: 100%;
}

a:link {
    color: gray;
    text-decoration: none
}

a:visited {
	color: gray;
}

a:hover {
	color: black;
	font-weight: bold;
}

a:active {
	color: gray;
}

#nicoleimg img {
	width: 280px;
	height: auto;
	position: relative;
	left: 75px;
	top: 35px;
}

.text1 {
	text-align: justify;
	font-size: 22px;
	color: black;
	margin: 0;
	width: 675px;
	position: relative;
	left: 375px;
	bottom: 250px;
	padding: 25px;
}

.part2 {
	width: 1020px;	
}

.text2 {
	text-align: justify;
	font-size: 22px;
	color: black;
	margin: 0;
	width: 900px;
	position: relative;
	bottom: 220px;
	left: 50px;
	padding: 25px;
	font-weight: bold;
}

.text2 ul {
	position: relative;
	bottom: 25px;
}

.text2 li {
	float: left;
}

.text3 {
	text-align: justify;
	font-size: 22px;
	color: black;
	margin: 0;
	width: 650px;
	position: relative;
	bottom: 220px;
	left: 50px;
}

.text4 {
	text-align: justify;
	font-size: 22px;
	color: black;
	margin: 0;
	position: relative;
	left: 50px;
	top: 20px;
}

.text5 {
	text-align: justify;
	font-size: 22px;
	color: black;
	margin: 0;
	width: 900px;
	padding: 30px;
	font-weight: bold;
	position: relative;
	left: 100px;
}

.text6 {
	text-align: justify;
	font-size: 22px;
	color: black;
	margin: 0;
	position: relative;
	left: 50px;
	bottom: 20px;
}

.photolist img {
	width: 200px;
	height: auto;
	float: right;
	position: relative;
	bottom: 420px;
	right: 30px;
}

.galleria img {
	width: 280px;
	height: auto;	
	padding: 20px;
	position: relative;
	left: 50px;
	bottom: 20px;
}
