body {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	margin: 0 auto;
	background-color: black;
	max-width: 1280px;
}

#pagewrap {
	width: 1280px;
}

#logo img {
	height: auto;
	width: 100px;
}

#menu {
	margin: 0;
	background-color: #CCFF99;
	width: 1280px;
	height: 100px;
}

#menu li {
	font-size: 25px;
	display: inline;
	padding: 20px;
	letter-spacing: 5px;
	word-spacing: 15px;
}

a:link {
    color: black;
    text-decoration: none
}

a:visited {
	color: black;
}

a:hover {
	color: white;
}

a:active {
	color: white;
}

#home {
	background-image: url('paisley.png');
	background-image-height: 800px;
}

section {
	height: 800px;
}

.titlecontent {
	font-size: 20px;
	color: black;
	position: relative;
	z-index: 10;
	top: 100px;
	left: 50px;
	width: 600px;
	padding: 30px;
	background-color: white;
}

.image {
	width: 300px;
	height: auto;
	float: center;
}
