body {
	text-align: left;
	background-image: url('concrete_seamless.png');
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1px;
}

#introwrap {
	width: auto;
	height: 400px;
	margin-right: 75px;
	margin-left: 75px;
}

#logo img {
	width: 500px;
	height: auto;
}

#menu {
	margin: 0;
	text-align: center;
	height: 120px;
	background-color: white;
}

#menu li {
	font-family: 'Special Elite', cursive;
	font-size: 28px;
	display: inline;
	letter-spacing: 3px;
	word-spacing: 10px;
}

#Menu ul {
	vertical-align: middle;
	width: 100%;
}

a:link {
    color: gray;
    text-decoration: none
}

a:visited {
	color: gray;
}

a:hover {
	color: black;
	font-weight: bold;
}

a:active {
	color: gray;
}

#nicoleimg img {
	width: 260px;
	height: auto;
	position: relative;
	left: 75px;
	top: 35px;
}

.text1 {
	width: 675px;
	text-align: justify;
	font-size: 22px;
	color: black;
	position: relative;
	left: 375px;
	bottom: 220px;
	padding: 25px;
	margin: 0;
}

.part2 {
	width: 1020px;	
}

.text2 {
	width: 900px;
	text-align: justify;
	font-size: 22px;
	color: black;
	position: relative;
	bottom: 220px;
	left: 50px;
	padding: 25px;
	margin: 0;
}

.text3 {
	width: 650px;
	text-align: justify;
	font-size: 22px;
	color: black;
	position: relative;
	bottom: 220px;
	left: 50px;
	margin: 0;
}

.text2 ul {
	position: relative;
	bottom: 25px;
}

.text2 li {
	float: left;
}

.photolist img {
	width: 250px;
	height: auto;
	float: right;
	position: relative;
	bottom: 400px;
}
